[Unit]
Description=Montana Blotter Flask App
After=network.target

[Service]
User=root
WorkingDirectory=/root/montanablotter
ExecStart=/root/montanablotter/venv/bin/gunicorn -w 3 --bind unix:/tmp/montanablotter.sock -m 007 app:app
Restart=always
RestartSec=5
StandardOutput=append:/root/montanablotter/gunicorn.log
StandardError=append:/root/montanablotter/gunicorn.log

[Install]
WantedBy=multi-user.target
